<%= simple_form_for @user do |f| %>
  <%= f.input :email, :required => true %>
  <%= f.input :username %>
  <% if @user.id %>
    <%= f.input :password, :hint => "(leave blank if you don't want to change it)" %>
  <% else %>
    <%= f.input :password, :required => true %>
  <% end %>
  <%= f.input :password_confirmation %>
  <%= f.input :full_name %>
  <%= f.input :role, :collection => User::ROLES, :as => :radio_buttons, :label_method => :titleize %>
  <%= f.simple_fields_for :team do |team| %>
    <%= team.input :name, :label => 'Team Name', :hint => 'If leave blank, then it will be set to Default Team' %>
  <% end %>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                users_path, :class => 'btn' %>
  </div>
<% end %>
