<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @project.title %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Total cost:</b>
  <%= @project.total_cost %>
</p>

<p>
  <b>Team:</b>
  <%= @project.team_id %>
</p>

<p>
  <b>Status:</b>
  <%= @project.status %>
</p>

<p>
  <b>Deadline:</b>
  <%= @project.deadline %>
</p>

<p>
  <b>Deleted at:</b>
  <%= @project.deleted_at %>
</p>

<p>
  <b>Creator:</b>
  <%= @project.creator_id %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
